@page "/pds"
@using WebPDSConfirm.Data
@inject OrderHeaderService OrderService

<PageTitle>รายการข้อมูล PDS</PageTitle> 
<h1>รายการข้อมูล PDS</h1>
<p>จัดการรายการข้อมูล</p>
@if (obj == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Ref. No.</th>
                <th>Supplier</th>
                <th>Item</th>
                <th>Amount</th>
                <th>Vat.</th>
                <th>Status</th>
                <th>Update</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in obj)
            {
                <tr>
                    <th>@r.Id</th>
                    <td>@r.Date.ToShortDateString()</td>
                    <td>@r.RefNo</td>
                    <td>@r.Vendor</td>
                    <td>@r.Item</td>
                    <td>@r.Amount</td>
                    <td>@r.Vat</td>
                    <td>
                        <span class="text-success">@r.Status</span>
                    </td>
                    <td>@r.LastUpdate</td>
                    <td>
                        <button class="btn btn-success btn-sm" onclick="@IncrementConfirm(r)">Confirm</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private OrderHeader[]? obj;

    protected override async Task OnInitializedAsync()
    {
        obj = await OrderService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    }

    private string IncrementConfirm(object obj) {
        return "Increment";
    }
}
